#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    behaviors {
      scroll_up_down: behavior_sensor_rotate_mouse_wheel_up_down {
          compatible = "zmk,behavior-sensor-rotate";
          label = "ENCODER_MSC_DOWN_UP";
          #sensor-binding-cells = <0>;
          bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;
          tap-ms = <20>;
      };

      tab_slide: behavior_sensor_rotate_tab_slide {
          compatible = "zmk,behavior-sensor-rotate";
          label = "ENCODER_TAB_SLIDE";
          #sensor-binding-cells = <0>;
          bindings = <&kp LA(LG(RIGHT_ARROW))>, <&kp LA(LG(LEFT_ARROW))>;
          tap-ms = <20>;
      };

      angle_step_cw: behavior_angle_step_cw {
          compatible = "zmk,behavior-angle-step";
          label = "ANGLE_STEP_CW";
          #binding-cells = <0>;
          sensor-rotation = <&sensor_rotation_controller>;
          step-deg = <45>;
          min-angle = <0>;
          max-angle = <315>;
          wrap-around;
      };

      angle_step_ccw: behavior_angle_step_ccw {
          compatible = "zmk,behavior-angle-step";
          label = "ANGLE_STEP_CCW";
          #binding-cells = <0>;
          sensor-rotation = <&sensor_rotation_controller>;
          step-deg = <(-45)>;
          min-angle = <0>;
          max-angle = <315>;
          wrap-around;
      };

      angle_adjust: behavior_sensor_rotate_angle_adjust {
          compatible = "zmk,behavior-sensor-rotate";
          label = "ENCODER_ANGLE_ADJUST";
          #sensor-binding-cells = <0>;
          bindings = <&angle_step_cw>, <&angle_step_ccw>;
          tap-ms = <20>;
      };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &mo 1
                &mkp MB2
                &mkp MB1

            >;

            sensor-bindings = <&scroll_up_down>;
        };

        layer1 {
            bindings = <
                &trans
                &kp RC(RIGHT_ARROW)
                &kp RC(LEFT_ARROW)
            >;
        };

        layer2 {
            bindings = <
                &trans
                &kp RC(RIGHT_ARROW)
                &kp RC(LEFT_ARROW)
            >;
        };

        layer3 {
            bindings = <
                &trans
                &kp RC(RIGHT_ARROW)
                &kp RC(LEFT_ARROW)
            >;
        };

        layer4 {
            bindings = <
                &trans
                &trans
                &trans
            >;

            sensor-bindings = <&angle_adjust>;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_angle_adjust {
            timeout-ms = <30>;
            key-positions = <1 2>;
            layers = <0 1 2 3>;
            bindings = <&mo 4>;
        };
    };
};
